body {
    background-color: #000000;
}

#letranombre {
    color: blanchedalmond;
    font-family: "Holtwood One SC", serif;
    font-size: 100px;
    font-weight: 200;
    font-style: normal;
}

#letratitulo {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 100;
    font-style: normal;
}

#letratarjetas {
    font-size: 25px;
    color: #ffffff;
}

#tarjetas {
    background-color: #171717;
    width: 20rem;
    color:#ffffff
}

#tarjetasdiscografia {
    background-color: #171717;
    
}

#cajas {
    width: calc(100% - 6rem); 
}

#cajascolor {
 width: calc(100% - 6rem); 
 background-color: #171717;
 margin: 0 auto;
}

#letracajas {
    color: rgb(255, 255, 255);
    font-size: 30px;
    
}

.card-dark {
  background-color: #1a1a1a;
  color: white;
  border: none;
}

.card-dark .list-group-item {
  background-color: #1a1a1a;
  color: white;
  border: none;